.top-brands {
  padding: 30px;
}
.top-brands-cover {
  height: 150px;
  width: 150px;
  background-color: var(--primary-bg);
  box-shadow: var(--colelction-shadow);
  border-radius: 50%;
  cursor: pointer;
}
.top-brands-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.top-brands-title {
  line-height: 1.2;
  color: rgb(28, 28, 28);

  font-size: 20px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
  text-align: center;
}
.top-brands-time {
  line-height: 1.2;
  font-weight: 100;
  color: rgb(28, 28, 28);
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0px;
}
